<html>
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1.0,shrink-to-fit=no">
        
        <!--Bootstrap-->
        <link rel="stylesheet" type="text/css" href='{{ url_for("static", filename="./node_modules/bootstrap/dist/css/bootstrap.min.css") }}'>
        <link rel="stylesheet" type="text/css" href='{{ url_for("static", filename="./css/style.css") }}'>

{% raw %}
        <script id="message-template" type="text/x-handlebars-template">
            <div class="col-3">
                <p class="message__username">{{Username}}</p>
            </div>
            <div class="col-9">
                <p class="message__item">{{msg}}</p>
            </div>
        </script>

        <!-- TODO: make a template for the join and myrooms items, so that the onclicks are well defined. -->
        <script id="messages-display-template" type="text/x-handlebars-template">

        </script>
{% endraw %}
    </head>
    <body>
        <!-- Navbar 
            Contains the logo, username, and logout button.
        -->
        <div class="Navigation justify-content-between py-3 px-2">
            <div class="Navigation__logo h3">ChatApp</div>
            <div class="Navigation__info d-flex flex-row">
                <a class="btn btn-secondary text-white mx-3">{{ Username }}</a>
                <a class="btn btn-primary" href="{{ url_for('logout') }}">Log out</a>
            </div>
        </div>
        <!-- /Navbar -->

        <!-- Menu -->
        <div class="menu--wrapper"> <!-- allows for a menu__trigger outside the menu, which has overflow: hidden. -->
            <div class="menu__trigger"> <!-- one trigger for when menu is open, the other for when it's closed. -->
                <span>&lt;</span>
            </div>
            <div class="menu">
                <div class="menu__grid">
                    <div class="menu__grid__myrooms">
                        <h5>My Rooms</h5>
                        <div class="menu__grid__myrooms__rooms">
                            {% for room in rooms %}
                            <div class="menu__grid__myrooms__rooms__item">{{ room }}</div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="menu__grid__join">
                        <h5>Join A Chat</h5>
                        <div class="menu__grid__join__rooms">
                            {% for room in join_rooms %}
                            <div class="menu__grid__join__rooms__item">{{ room }}</div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="menu__grid__create">
                        <h5>Create A Channel</h5>
                        <form action="" id="createChannelForm">
                            <input type="text" class="form-control" placeholder="Enter Channel Name" name="channelName">
                        </form>
                        <div class="text-danger d-none" id="createChannelForm--empty">Please Enter the Channel Name!</div>
                        <div class="text-danger d-none" id="createChannelForm--unique">Channel Name already taken!</div>
                    </div>
                </div>
                <div class="menu__buttons">
                    <div class="menu__buttons__button" id="button_myrooms">My Rooms</div>
                    <div class="menu__buttons__button" id="button_join">Join</div>
                    <div class="menu__buttons__button" id="button_create">Create</div>
                </div>
            </div>
        </div>

        <!-- /Menu -->
        <div class="container" id="message">
            {% for message in data %}
            <div class="row">
                <div class="col-3">
                    <p class="message__username">{{ message.Username }}</p>
                </div>
                <div class="col-9">
                    <p class="message__item">{{ message.msg }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        <form class="chatbox" id="chatbox" action="">
            <input type="hidden" name="Username" value='{{ Username }}'>
            <input type="text" class="form-control chatbox__input" name="msg">
        </form>


        <!--SCRIPTS-->
        <script src="{{ url_for('static', filename='./node_modules/popper.js/dist/popper.min.js') }}"></script>
        <script src="{{ url_for('static', filename='./node_modules/jquery/dist/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='./node_modules/bootstrap/dist/js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='./node_modules/socket.io-client/dist/socket.io.min.js') }}"></script>
        <script src="{{ url_for('static', filename='./node_modules/handlebars/dist/handlebars.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/chat.js') }}"></script>
    </body>
</html>